@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui" {
   themes: black --default;
 }


.myinput{
  @apply focus:outline-0 border-1 ;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    @apply bg-white text-gray-900;
    transition: background-color 9999s ease-in-out 0s;
  }
}

.masonry { 
  column-count: 1; 
  column-gap: 1rem; 
}
.masonry-item {
  break-inside: avoid; 
  margin-bottom: 1rem; 
}

.masonryimg {
  width: 100%;
  height: auto;
  object-fit: cover;
  min-height: 200px;/*200px;*/
  min-width:200px
}


@media (min-width: 450px) { .masonry { column-count: 2; } }
@media (min-width: 640px) { .masonry { column-count: 3; } }
@media (min-width: 768px) { .masonry { column-count: 4; } }
@media (min-width: 1024px) { .masonry { column-count: 5; } }


[x-cloak] { display: none !important; }


details summary::-webkit-details-marker {
    display: none;
  }
  
details summary::marker {
    display: none;
  }